/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/
h2 {
  letter-spacing: 3px;
  color: #fafafa;
  text-align: center;
  background-color: #ff7d27;
  padding: 15px;
  margin: 30px 0;
}

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body {
  position: relative;
  /* we need this for the scrollspy */
  font-size: 14px;
}

a {
  color: #3cc;
}

a:hover {
  color: #ff7d27;
  text-decoration: none;
}

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed-side-navbar:hover {
  background: transparent;
}

.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}

.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}

.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.fixed-side-navbar .nav > li a.active:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}

.nav > li {
  position: relative;
  display: block;
}

.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}

.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.fixed-side-navbar .nav > li a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  border-right: 0;
}

.fixed-side-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.first-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.primary-button a {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.baner-content {
  padding-top: 20vh;
  text-align: center;
  background-image: url(../img/3rd-section.jpg);
}

.baner-content h1 {
  margin-top: 0px;
  font-size: 128px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.baner-content em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
}

.baner-content span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}

.baner-content .primary-button {
  margin-top: 15px;
}

.about-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-image: url(../img/code.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.about-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4,
.h4 {
  font-size: 18px;
}

.about-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}

.left-text {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.about-content .left-text p {
  color: #fff;
}

.about-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.about-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.about-content .left-text .primary-button {
  margin: 30px 0px;
}

.about-content .about-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 15px auto;
}

.vid-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ----- ABOUT ----- */

.row .about-content {
  padding-top: 5vh;
  text-align: center;
}

.about-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 20px auto;
}

.about-content .left-text ul {
  text-align: left;
}

.about-content .about-item {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.card {
  margin: 50px auto;
}
/* ----- COURSES ----- */

.course-content {
  padding-top: 15vh;
  background-image: url(../img/carbon2.png);
  background-size: 2%;
}

.course-content .item img,
.challenge-content .item img {
  width: 100%;
}

.course-content .item,
.challenge-content .item {
  margin: 15px;
}

.course-content .item .text-content,
.challenge-content .item .text-content {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
}

.course-content .item .text-content h4,
.challenge-content .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
}

.course-content .item .text-content span,
.challenge-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #ff7d27;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

/* ----- TUTORIAL VIDEOS ----- */

.video-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/code.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 15px;
  border: 4px solid #fff;
  background-color: #232323;
}

.tabs a:hover {
  color: darkorange;
}

.tabs .active {
  border: 4px solid #ff7d27;
}

/* .tabgroup div {} */

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ----- CHALLENGES ----- */

.challenge-content {
  background-image: url();
  padding-top: 15vh;
}

/* ----- GAMES ----- */

#games {
  padding-top: 15vh;
  background-image: url(../img/carbon2.png);
  background-size: 2%;
}

/* ----- AJAX ----- */

#ajax {
  padding-top: 10vh;
  background-image: url();
  background-position: center;
  height: 100vh;
}

/* ----- FOOTER ----- */

footer {
  text-align: center;
  background-color: #282b2f;
  padding: 50px 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}
.lynxlogo {
  height: 30px;
}

@media (max-width: 767px) {
  .baner-content {
    padding-top: 15vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
}
